<!--
<h1 class="skill">Skill Master</h1>

<form action="">

<p>
    <mat-form-field appearance="outline">
      <mat-label>Outline form field</mat-label>
      <h2> Add /Update Skill<input class="field-skill" matInput placeholder="Skill Name">
     </h2>
    </mat-form-field>
  </p>
</form>
-->

        <!-- <h1 class="skill">Skill Master</h1>
            <mat-label class="label1">Add /Update Skill</mat-label>
            <mat-form-field class="full-width" appearance="outline">
               <input required name="skillName" matInput placeholder="Skill Name">               
            </mat-form-field>
            <div class="example-button-row">
              <button mat-raised-button color="primary">Add</button>       
              <button mat-raised-button color="primary">Update</button>         
            </div> -->
    
            
<!--Add Skills Form-->
<form #skillMasterForm="ngForm" (ngSubmit)="formSubmit()">
  <h1 class="skill">Skill Master</h1> 
    <div>
    <mat-label class="label1">Add Update Skill</mat-label>
    <mat-form-field class="full-width" appearance="outline">
    <input required [(ngModel)]="skill.skill_name" name="skill_name" matInput placeholder="Skill Name" maxlength="8" minlength="8" (keypress)="omit_special_char($event)">  
                    
    </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
    <button mat-raised-button color="primary">Add</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   
    <button mat-raised-button color="primary">Update</button>  
  </div>   
</form>

<!-- For List of Skills-->
<form #skillMaster="ngForm">
  <div>
    <mat-label class="label1">List of Skills</mat-label>
    <mat-form-field class="full-width" appearance="outline">
    <input required type="text" name="search" [(ngModel)]="searchText" matInput placeholder="Search Skill Name">                   
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;<button mat-raised-button color="primary">Search </button>    
  </div>
  <!-- Table-->
<div class="container">
  <table class="mat-elevation-z8">
       <tr>
        <th>Skill Name</th>
        <th>Update</th>
        <th>Delete</th>
      </tr> 
       <tbody>
        <tr *ngFor="let skill of userSkills | searchSkill: searchText">
          <td>{{skill.skill_name}}</td>
          <td><a routerLink="/updateSkill"></a><mat-icon (click)="onUpdateClicked(skill.skill_id)">create</mat-icon></td>
          <td><mat-icon (click)="onDeleteClicked(skill.skill_id)">delete</mat-icon></td>
        </tr>
       </tbody>
      </table>
   </div> 
  </form>
  <router-outlet></router-outlet>





        
    
